.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid brown;
    padding: 40px;
}
.box {
    border: 2px solid blue;
    width: 250px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 10px;
}
.circle {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}
p{
    margin: auto 7px;
}
