body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    text-align: center;
    color: darkblue;
}
.block-menu a{
    display: block;
    margin: 10px 0;
    color: white;
    background-color: blue;
    padding: 4px;
    text-decoration: none;
    
}
.inline-menu a{
    display: inline;
    color: white;
    background-color: green;
    padding: 4px;
    text-decoration: none;
    
}
.inline-block-menu a{
    display: inline-block;
    text-decoration: none;
    background-color: purple;
    color: white;
    margin: 5px;
    padding: 10px 15px;
    height: 50px;
    width: 80px;
    text-align: center;
}
.float-menu a{
    float: left;
    background-color: orange;
    color: white;
    margin: 5px;
    padding: 10px 15px;
    text-decoration: none;
}
.clear-menu {
  clear: both;
}   