/* General Styling */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h3 {
    margin-bottom: 15px;
}

.container1 {
    border: 2px solid #333;
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.box1, .box2, .box3 {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.box1 {
    background: #ff6b6b;
}

.box2 {
    background: #4d79ff;
}

.box3 {
    background: blue;
}
.container2 {
    border: 2px solid #333;
    padding: 10px;
    width: 100%;
}


.box4, .box5, .box6 {
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.box4 {
    background: #ff6b6b;
    float: left;
}

.box5 {
    background: #4d79ff;
    float: left;
}


.box6 {
    background: #00cc99;
    clear: both;
}