*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.logo{
    font-size: 35px;
    font-weight: bold;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li{
    margin: 0 15px;
    cursor: pointer;
}
li a{
    color: white;
    text-decoration: none;
}
@media (max-width:700px) {
    .navbar{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 15px;
    }
    .nav-links{
        margin-bottom: 15px;
    }
        
}